@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap'); 
body, html { font-family: "Noto Sans KR", sans-serif; font-weight: 400; font-style: normal; } 
* { margin : 0; padding : 0; box-sizing: border-box; } 
a { text-decoration : none; color : black; } 
ul, li, ol, dl, dd { list-style: none; } 
img { max-width: 100%; height: auto; border: 0; } 
table { border-collapse: collapse; border-spacing: 0; } 
td, th { padding: 0; } 