* { padding: 0; margin: 0; box-sizing: border-box; } 
ul, li, ol, dl, dd { list-style: none; } 
img { max-width: 100%; height: auto; } 
#alram-list { z-index: 10; } 
/* 
.content-box { width: 90%; overflow: hidden; position: relative; } */
/* 
.content-box .nav { float: left; position: fixed; left: -20px; top: 40%; width: 30%; text-align: center; } 
.content-box .nav>strong { font-size: 30px; display: inline-block; margin-bottom: 15px; border-bottom: 1px solid #777; } 
.content-box .faq-content { width: 70%; border: 1px solid #777; float: right; margin-top: 100px; } 
.content-box .nav .down { margin-bottom: 10px; } 
.content-box .faq-content .faq-up { text-align: center; font-size: 30px; margin-top: 10px; /* margin-bottom: 50px; */
/* padding-bottom: 50px; border-bottom: 1px solid #777; } 
.faq-down ul { overflow: hidden; /* margin-top: 10px; */
/* } */
/* .faq-down ul li { float: left; height: 40px; border-bottom: 1px solid rgb(0, 0, 0, 0.1); line-height: 40px; } 
.faq-down ul li:nth-child(1) { width: 20%; display: inline-block; text-align: center; } 
.faq-down ul li:nth-child(2) { width: 60%; display: inline-block; } 
.faq-down ul li:nth-child(3) { width: 20%; display: inline-block; text-align: center; } */
/* ====================================================board-notice_list */
.main-section { /* border: 1px solid #777; */ } 
.main-section .container .content-list { width: 1000px; margin-top: 30px; } 
.main-section .container .content-none-wrap { display: flex; width: 100%; padding: 220px 0; font-size: 17px; color: #888; justify-content: center; gap: 4px; } 
.main-section .content-box { display: flex; flex-direction: column; margin: 0 20px; border-bottom: 1px solid #ddd; } 
.main-section .content-box:hover { background-color: #fafafa; } 
.main-section .content-box .content-mix { display: flex; align-items: center; cursor: pointer; gap: 10px; padding: 13px 10px; } 
.main-section .content-box .content-mix.faq { justify-content: space-between; cursor: pointer; } 
.content-box .content-num { padding: 10px; text-align: center; border-radius: 14px; font-size: 12px; display: flex; align-items: center; } 
.content-box .content-title { display: flex; flex-direction: column; justify-content: center; border-radius: 14px; gap: 5px; } 
.content-box .content-title a { text-decoration: none; font-size: 16px; } 
.content-box .content-title a:hover { color:#000 } 
.content-box .content-title p { font-size: 13px; display: inline-block; margin-right: 20px; /* position: absolute; */
 /* left: 10px; bottom: 8px; */ } 
.content-list { display: flex; flex-direction: column; } 
.content-list .content-p-box { text-align: center; margin-top: 40px; margin-bottom: 30px; } 
.content-list .content-p-box .content-page { display: inline-block; width: 30px; height: 30px; text-align: center; margin: 0 auto; /* border: 1px solid #777; */
 line-height: 30px; } 
.content-list .content-p-box .content-page a { text-decoration: none; } 
.content-list .content-p-box .content-ask { display: inline-block; float: right; margin-right: 20px; width: 74px; height: 32px; font-size: 13px; line-height: 32px; text-align: center; border-radius: 5px; user-select: none; background-color: #ff6b6b; } 
.content-list .content-p-box .content-ask a { color: white; } 
.main-section .content-box .content-mix .content-delete { width: 10%; text-align: center; line-height: 55px; } 
.main-section .content-box .content-mix .content-delete a { color: red; font-weight: 600; } 
/* =========================================================board-notice_view */
.main-section .container .content-ask-kim { border-radius: 14px; background-color: #f8f8f8; padding: 0; margin-top: 30px; margin-bottom: 50px; } 
.content .content-title-box { padding: 0 20px 30px; border-bottom: 1px solid rgb(0, 0, 0,0.2); } 
.content .content-detail-box { text-align: center; } 
.content .content-detail-box .content-detail { padding: 50px 35px; line-height: 30px; } 
.content .content-detail-box .content-detail h3 { /* color: hsl(208,100%,51%); */
 color: #F49D00; } 
.content .content-detail-box .content-detail p { /*padding: 50px; letter-spacing: 3px; margin-bottom: 80px; font-size: 16px; */ } 
.content .content-move-box { width: 100%; display: inline-block; } 
.content .content-move-box .content-back { overflow: hidden; border-top: 1px solid #e9ebee; border-bottom: 1px solid #e9ebee; } 
.content .content-move-box .content-next { overflow: hidden; border-bottom: 1px solid #e9ebee; } 
.content-move-box .content-back div { float: left; margin: 20px 10px; } 
.content-move-box .content-next div { float: left; margin: 20px 10px; } 
.content .content-move-box .figure { margin: 20px 5px 20px 15px; } 
.content .content-move-box .content-back-back, .content .content-move-box .content-next-next { font-weight: 600; } 
.content-move-box a { color: #555; text-decoration: none; } 
.content .content-move-list { text-align: center; padding: 30px; } 
.content .content-move-list > a { width: 20%; height: 50px; line-height: 50px; color: #f8f8f8; border-radius: 5px; display: inline-block; background-color: #F49D00; text-decoration: none; } 
.content .content-case { padding: 20px; } 
/* ============================board-faq */
.post-content { background-color: #f8f8f8; text-align: center; overflow: hidden; text-align: left; line-height: 23px; white-space: pre-line; overflow: hidden; max-height: 0; transition: max-height 0.4s ease-out; padding: 0 20px; } 
.post-content.open { display: block; background-color: #f8f8f8; max-height: 500px; border-top: 1px solid #ddd; } 
.post-content span.inner { display: block; } 
/* @keyframes slidein { 
 from { max-height: 0px; } 
 
 to { max-height: 500px; } 
 }*/
/* =========================================board-ask_list */
/* .content-list .content-mix .content-status .btn { background-color: #F49D00; color: white; margin-left: 20px; margin-top: 10px; margin-right: 10px; } 
.content-list .content-mix .content-status #approve-button { margin-left: 20px; margin-top: 10px; margin-right: 10px; background-color: #f8f8f8; color: #000; } */
.content-list .content-mix .content-status-wait p { background-color: #f8f8f8; color: #000; width: 74px; height: 32px; font-size: 13px; line-height: 32px; text-align: center; border-radius: 5px; user-select: none; } 
.content-list .content-mix .content-status-wait p.approve { color: #569aff; background-color: #ebf3ff; } 
.content-list .content-mix .content-status-ok p { background-color: #F49D00; color: white; width: 74px; height: 32px; font-size: 13px; line-height: 32px; text-align: center; border-radius: 5px; } 
.content-case .content-title-box .content-sd { display: flex; align-items: center; } 
.content-case .content-title-box .content-status-ok p { color: #fb584d; background-color: #fee4e2; width: 74px; height: 32px; font-size: 13px; line-height: 32px; text-align: center; border-radius: 5px; display: inline-block; margin-right: 20px; } 
.content-case .content-title-box .content-status-ok p.approve { color: #569aff; background-color: #ebf3ff; } 
.content-case .content-title-box .content-date { display: inline-block; color: #666; } 
.content-case .content-detail .content-detail-my { margin-left: 30px; } 
.content-case .content-detail .content-detail-my p { padding: 0; margin: 0; text-align: left; } 
.content-case .content-detail .content-detail-answer { background-color: #eee; border-radius: 10px; padding: 50px 60px 60px; margin-top: 50px; } 
.content-case .content-detail .content-detail-answer .title { text-align: left; font-size: 17px; font-weight: 600; } 
.content-case .content-detail .content-detail-answer p { padding: 0; margin: 0; text-align: left; margin-top: 15px; } 
/* ==============================board-ask-view */
.content-case { position: relative; } 
.content-case .content-title-box .content-controll { position: absolute; top: 25px; right: 20px; } 
.content-case .content-title-box .content-controll a { margin: 10px; text-decoration: none; color: #555; font-size: 15px; } 
/* ============================modal */
.modal { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); padding-top: 60px; text-align: center; } 
.modal-content { background-color: #fefefe; margin: 5% auto; padding: 20px; border: 1px solid #888; width: 80%; } 
.close { color: #aaa; float: right; font-size: 28px; font-weight: bold; } 
.close:hover, .close:focus { color: black; text-decoration: none; cursor: pointer; } 
.modal .modal-content #confirmDelete { color: red; margin-right: 20px; margin-top: 20px; } 
/* ============================index */
.container-kim { justify-content: center; } 
.main-area .main-service .main-text-kim { margin: 0 auto; text-align: center; margin-top: 80px; margin-bottom: 60px; } 
.main-area .main-service .main-img-kim { text-align: center; } 
.main-area .main-service .main-img-kim a { display: inline-block; margin-right: 20px; width: 120px; border-radius: 5px; } 
.main-area .main-master-intro { text-align: center; margin-top: 100px; padding-top: 50px; border-top: 1px solid #ddd; } 
.main-area .main-master-kim { margin-top: 50px; display: flex; flex-wrap: nowrap; justify-content: center; padding-bottom: 100px; border-bottom: 1px solid #ddd; } 
.main-area .main-review-text { text-align: center; margin-top: 70px; } 
.main-area .main-review-kim { display: flex; margin-top: 50px; justify-content: center; margin-bottom: 100px; } 
.main-area .main-review-kim a { text-decoration: none; } 
.main-area .main-review-kim .main-review-box { width: 400px; padding: 20px; border: 1px solid #ddd; background-color: #fff; border-radius: 10px; margin-right: 30px; } 
.main-area .main-review-kim .main-review-box:hover { transform: translateY(-5px); transition: transform 0.3s ease-in-out; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); } 
.main-review-kim .main-review-box .main-review-head { display: flex; align-items: center; } 
.main-review-kim .main-review-box .main-review-head img { width: 50px; height: 50px; border-radius: 50%; object-fit: cover; border: 1px solid #ccc; } 
.main-review-kim .main-review-box .main-review-head .main-review-head-text { width: 80%; } 
.main-review-kim .main-review-box .main-review-head .main-review-head-text p { font-size: 20px; padding-left: 15px; line-height: 20px; font-weight: 500; width: 70%; } 
.main-review-kim .main-review-box .main-review-head .main-review-head-text span { font-size: 11px; padding-left: 18px; display: inline-block; color: rgb(0, 0, 0,0.5); } 
.main-review-kim .main-review-box .main-review-foot { margin-top: 10px; } 
.main-review-kim .main-review-box .main-review-foot .main-review-score { border-top: 1px solid rgb(0, 0, 0,0.2); } 
.main-review-kim .main-review-box .main-review-foot .main-review-foot-text p { text-overflow: ellipsis; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 3; } 
.main-review-kim .main-review-box .main-review-foot .main-review-score li { display: inline-block; margin-top: 10px; margin-bottom: 10px; color: yellow; } 
.main-review-kim .main-review-box .main-review-foot .main-review-user-name { font-size: 11px; margin-top: 10px; color: rgb(0, 0, 0,0.4); } 
