* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

ul,
li,
ol,
dl,
dd {
    list-style: none;
}

.content-status-park {
    margin: 0 auto;
}

.content-status-park .status-body .status-section .role {
    text-align: center;
    border: 3px solid #F49D00;
    margin-top: 80px;
    margin-bottom: 10px;
}

.content-status-park .status-body .status-section .role-text img {
    
    margin-top: 50px;
    width: 350px;
    
}

.content-status-park .status-body .status-section .role-text .role-box {
    margin-top: 30px;
}