<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susuma.member.model.MemberMapper">
	<select id="getList" resultType="com.susuma.member.model.MemberDTO">
		SELECT * FROM MEMBER
		WHERE TYPE = #{type}
		ORDER BY ME_NO ASC
	</select>
	<select id="getView" resultType="com.susuma.member.model.MemberDTO">
		SELECT * FROM MEMBER WHERE ME_NO = #{meNo}
	</select>
</mapper>