<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susuma.message.model.MessageMapper">
	<select id="getMessages" resultType="com.susuma.message.model.MessageDTO">
		SELECT * FROM MESSAGE ORDER BY msg_no ASC
	</select>
	
	<insert id="sendMessage" parameterType="com.susuma.message.model.MessageDTO">
		INSERT INTO MESSAGE(msg_no, send_me_no, get_me_no, message)
		VALUES( MESSAGE_SEQ.NEXTVAL, #{sendMeNo}, #{getMeNo}, #{message} )
	</insert>
	
</mapper>