<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susuma.request.model.RequestMapper">
	
	<select id="getList" resultType="com.susuma.request.model.RequestDTO">
		SELECT * FROM REQUEST ORDER BY REQ_NO
	</select>
	
	<insert id="insertRequest" parameterType="com.susuma.request.model.RequestDTO">
    INSERT INTO REQUEST (REQ_NO, MASTER_NO, CLIENT_NO, CONTENT, REQUEST_DATE, REQUEST_TIME, ADDRESS, ADDRESS_DETAIL, LATITUDE, LONGITUDE, PHONE_NUM)
    VALUES (REQUEST_SEQ.NEXTVAL, #{masterNo}, #{clientNo}, #{content}, #{requestDate}, #{requestTime}, #{address}, #{addressDetail}, #{latitude}, #{longitude}, #{phoneNum})
</insert>

	
</mapper>