<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susuma.review.model.ReviewMapper">

	<select id="getList" resultType="com.susuma.review.model.ReviewDTO">
		SELECT * FROM REVIEW ORDER BY RE_NO
	</select>
	
	 <select id="getMasterNoByReqNo" parameterType="int" resultType="string">
        SELECT master_no
        FROM request
        WHERE req_no = #{reqNo}
    </select>
	
	<insert id="insertReview" parameterType="com.susuma.review.model.ReviewDTO" useGeneratedKeys="true" keyProperty="reNo">
    INSERT INTO REVIEW (re_no, req_no, content, star_score, insert_time, update_time)
    VALUES (review_seq.NEXTVAL, #{reqNo}, #{content}, #{starScore}, SYSDATE, SYSDATE)
</insert>
</mapper>