<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.susuma.review.model.ReviewMapper">

	<select id="getList" resultType="com.susuma.review.model.ReviewDTO">
		SELECT RE.*, MASTER_NO, MM.NAME AS MASTER_NAME, MM.ADDRESS
		FROM REVIEW RE
		JOIN REQUEST REQ ON RE.REQ_NO = REQ.REQ_NO
		JOIN MEMBER MM ON MM.ME_NO = REQ.MASTER_NO

	</select>

		<select id="getLists" resultType="com.susuma.review.model.ReviewDTO">
		SELECT RE.*, MASTER_NO, MM.NAME AS MASTER_NAME, MM.PROFILE_PHOTO, MM.ADDRESS

		FROM REVIEW RE
		JOIN REQUEST REQ ON RE.REQ_NO = REQ.REQ_NO
		JOIN MEMBER MM ON MM.ME_NO = REQ.MASTER_NO
		JOIN MEMBER MC ON MC.ME_NO = REQ.CLIENT_NO
		WHERE MC.ME_NO = #{meNo}	

	</select>
	
	<select id="getListMaster" resultType="com.susuma.review.model.ReviewDTO">
		
		SELECT RE.*, CLIENT_NO, MC.NAME AS CLIENT_NAME, MC.PROFILE_PHOTO, MC.ADDRESS
		FROM REVIEW RE
		JOIN REQUEST REQ ON RE.REQ_NO = REQ.REQ_NO
		JOIN MEMBER MM ON MM.ME_NO = REQ.MASTER_NO
		JOIN MEMBER MC ON MC.ME_NO = REQ.CLIENT_NO
		WHERE MM.ME_NO = #{meNo}

	</select>
	
	
	<select id="getMasterNoByReqNo" parameterType="int" resultType="string">
		SELECT master_no
		FROM request
		WHERE req_no = #{reqNo}
	</select>

	<insert id="insertReview" parameterType="com.susuma.review.model.ReviewDTO">
		INSERT INTO REVIEW (re_no, req_no, content, star_score)
		VALUES (review_seq.NEXTVAL, #{reqNo}, #{content}, #{starScore})
	</insert>
	
	
</mapper>