<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@172.30.1.23:1521:xe" />
				<property name="username" value="SSM" />
				<property name="password" value="SSM" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mybatis/mapper/BoardMapper.xml" />
		<mapper resource="mybatis/mapper/MemberMapper.xml" />
		<mapper resource="mybatis/mapper/MessageMapper.xml" />
		<mapper resource="mybatis/mapper/RequestMapper.xml" />
		<mapper resource="mybatis/mapper/CategoryMapper.xml" />


	</mappers>


</configuration>